services:
  php-fpm:
    image: 263751300136.dkr.ecr.us-east-1.amazonaws.com/tailadmin-laravel:latest
    container_name: tailadmin-php-fpm
    restart: unless-stopped
    working_dir: /var/www/html
    ports:
      - "9000:9000"
    networks:
      - app-network
    env_file:
      - .env

networks:
  app-network:
    driver: bridge
